[Desktop Entry]
Name=OrcaSlicer
Exec=/opt/orca-slicer/bin/orca-slicer --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland %F
Icon=OrcaSlicer
Type=Application
Categories=Utility;
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
